<section class="about-container flex-column">
  <div class="gradient-circle blob-effect flex">
    <img class="blob-effect" src="../../../assets/nicole.jpg" alt="woman picture">
  </div>
  <div class="aboutme-container">
    <div class="my-name">
      <h2>Hi,</h2>
      <h2>I'm Nicole Tsingas</h2>
    </div>
    <p class="about-me-text">I am a front-end developer graduated in Technology Information from UNIP. Discover my projects and my skills and let's build something together!</p>
    <div class="buttons flex">
      <button class="gradient-btn">
        <a href="mailto:nicolecass27@gmail.com">Contact me!</a>
      </button>
      <button class="gradient-btn">
        <a href="../../../assets/English CV Nicole Monalisa Tsingas.pdf" download>Resume <i class="fa-solid fa-file-arrow-down"></i> </a>
      </button>
    </div>
  </div>
</section>
