<section class="about-container">
  <div class="gradient-circle blob-effect">
    <img class="blob-effect" src="../../../assets/nicole.jpeg" alt="woman picture">
  </div>
  <div class="aboutme-container">
    <div>
      <h2>Hi,🖖</h2>
      <h2>I'm Nicole Tsingas</h2>
    </div>
    <p class="about-me-text">I am a front-end developer graduated from Laboratoria. Discover my projects and my skills and let's build something together!</p>
    <div class="buttons">
      <button class="gradient-btn">
        <a href="mailto:nicolecass27@gmail.com">Contact me!</a>
      </button>
      <button class="gradient-btn">
        <a href="../../../assets/Currículo Nicole Monalisa Tsingas.pdf" download>Curriculum</a>
      </button>
    </div>
  </div>
</section>
