.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header{
  width: 100vw;
  max-width: 1500px;
  height: 80px;
  background-color: var(--backgroundColor);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: end;
}

.navigation {
  padding: 1rem;
}

.navigation span, .navigation i {
  color: var(--primaryColor);
  font-size: 1em;
}

.navigation i{
  font-size: 1.4em;
}

.navigation span:hover, .navigation i:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navigation span, .navigation i {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .navigation span {
    font-size: 1.3em;
  }

  .navigation i {
    font-size: 1.5em;
  }
}