<header class="flex header">
  <nav class="flex navigation">
    <span (click)="onClickScroll('about')" class="mx-3">About</span>
    <span (click)="onClickScroll('skills')" class="mx-3">Skills</span>
    <span (click)="onClickScroll('projects')" class="mx-3">Projects</span>
    <a href="https://www.linkedin.com/in/nicoletsingas" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/nicoletsingas" target="_blank"><i class="fa-brands fa-square-github"></i></a>
  </nav>
</header>
