.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header{
  width: 100%;
  max-width: 1200px;
  height: 80px;
  background-color: var(--backgroundColor);
  position: fixed;
  justify-content: end;
}

.navigation {
  margin-right: 10px;
}

.navigation span, .navigation i {
  color: var(--primaryColor);
  font-size: 1em;
}

.navigation i{
  font-size: 1.4em;
}

.navigation span:hover, .navigation i:hover {
  cursor: pointer;
}