.grid{
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 40px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myskills-container {
  width: 100%;
  max-width: 1200px;
  padding: 8rem 1rem 3rem;
}

.myskills-container h2{
  margin-bottom: 5rem;
}

.gradient-circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: linear-gradient(to left, var(--primaryColor), var(--tertiaryColor));
  background-size: 500% 100%;
  animation: moveGradient 2s infinite alternate;
}

@keyframes moveGradient {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.white-circle{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--backgroundWhite);
}

.skill-container span {
  margin-top: 5px;
}

.skill-img{
  height: 45px;
  width: 45px;
}

@media screen and (min-width: 600px) {
  .grid{
    grid-template-columns: 100px 100px 100px;
  }
}

@media screen and (min-width: 750px) {
  .grid{
    grid-template-columns: 100px 100px 100px 100px;
  }

  .myskills-container h2{
    margin-bottom: 6rem;
  }

  .gradient-circle{
    width: 95px;
    height: 95px;
  }
  
  .white-circle{
    height: 85px;
    width: 85px;
  }

  .skill-img{
    height: 55px;
    width: 55px;
  }
}

@media screen and (min-width: 992px) {
  .grid{
    grid-template-columns: 150px 150px 150px 150px 150px;
  }

  .myskills-container h2{
    font-size: 2em;
  }

  .gradient-circle{
    width: 120px;
    height: 120px;
  }
  
  .white-circle{
    height: 110px;
    width: 110px;
  }

  .skill-img{
    height: 70px;
    width: 70px;
  }
}