.grid{
  display: grid;
  grid-template-columns: 130px 130px;
  gap: 30px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myskills-container {
  width: 100%;
  max-width: 1200px;
  padding: 8rem 1rem 3rem;
}

.myskills-container h2{
  margin-bottom: 5rem;
}

.skill-background{
  width: 140px;
  border-radius: 5px;
  gap: 10px;
  padding: .5rem;
}

.skill-background span {
  color: #000;
}

@keyframes moveGradient {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.skill-img{
  height: 25px;
}

@media screen and (min-width: 600px) {
  .grid{
    grid-template-columns: 160px 160px 160px;
  }

  .skill-background {
    width: 160px;
  }

  .skill-background span{
    font-size: 1.2em;
  }
}

@media screen and (min-width: 750px) {
  .grid{
    grid-template-columns: 160px 160px 160px 160px;
  }

  .myskills-container h2{
    margin-bottom: 6rem;
  }

  .skill-background {
    width: 175px;
  }

  .skill-img{
    height: 35px;
  }
}

@media screen and (min-width: 992px) {
  .grid{
    grid-template-columns: 185px 185px 185px 185px;
  }

  .myskills-container h2{
    font-size: 2em;
  }

  .skill-background {
    width: 185px;
  }

  .skill-img{
    height: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .grid{
    grid-template-columns: 185px 185px 185px 185px 185px;
    gap: 20px;
  }
}